pipeline/Child_Pipeline.json
{
	"name": "Child_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText6",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Call Logic App",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"url": "https://prod-85.eastus.logic.azure.com:443/workflows/9f50fa354f3d4f399129641dc384be59/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=TSiUtCycJCVv9IM2Twc6ALEUt0-0S5clJn2nV66e-gI",
								"body": {
									"value": "@concat(\n'{',\n'\"email\":\"', item().email_id, '\",',\n'\"subject\":\"', pipeline().parameters.Subject, '\",',\n'\"body\":\"',\n\n'Hi ', item().name, ',<br/><br/>',\n\n'I hope you''re doing well.<br/><br/>',\n\n'I came across your profile while exploring opportunities at <b>',\nitem().company_name,\n'</b> and wanted to reach out regarding any <b>Data Engineer openings</b> within your team.<br/><br/>',\n\n'I am currently working as a Data Engineer at SmartRecon Technologies, where I design and build scalable data platforms using <b>Azure Data Factory</b>, <b>Databricks</b>, <b>PySpark</b>, <b>SQL</b>, <b>Delta Lake</b>, and <b>Azure Data Lake</b>. My experience includes developing <b>large-scale ETL/ELT pipelines</b> processing millions of daily records, implementing <b>metadata-driven frameworks</b>, optimizing distributed data workloads, and supporting <b>enterprise-grade financial reporting systems</b>.<br/><br/>',\n\n'Some highlights of my experience include:<br/>',\n\n'&#8226; <b>Processing 4–5 million daily transactional records</b> through production-grade data pipelines.<br/>',\n\n'&#8226; <b>Building metadata-driven ingestion frameworks</b> that significantly reduced manual effort.<br/>',\n\n'&#8226; <b>Improving Delta Lake query performance</b> through optimization techniques such as Z-Ordering and file compaction.<br/>',\n\n'&#8226; <b>Working with Data Warehousing, Dimensional Modeling, and real-time streaming architectures.</b><br/><br/>',\n\n'Additionally, I have solved <b>650+ LeetCode problems</b>, achieved a <b>1950 rating (Top 3% globally)</b>, and maintain a strong focus on <b>problem-solving and system design</b>.<br/><br/>',\n\n'I am currently an <b>Immediate Joiner</b> and actively looking for my next opportunity. If there are any relevant openings within your team, I would greatly appreciate the opportunity to connect and discuss how I can contribute.<br/><br/>',\n\n'Thank you for your time and consideration.<br/><br/>',\n\n'Best Regards,<br/>',\n'Pratyush Sahoo<br/><br/>',\n\n'<b>Phone:</b> +91-9556102777<br/>',\n'<b>Email:</b> pratyush.sahoo2k26@gmail.com<br/>',\n'<b>LinkedIn:</b> https://www.linkedin.com/in/pratyush-sahoo-a3a360243/<br/>',\n'<b>Resume:</b> https://drive.google.com/file/d/1q95LymUAgfV5gJCjvcW9i32HicyLC9F2/view<br/>',\n'<b>LeetCode:</b> https://leetcode.com/u/PratTheCode/<br/>',\n'<b>Notice Period:</b> Immediate Joiner',\n\n'\"',\n'}'\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Call Logic App",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "string"
			},
			"Subject": {
				"type": "string",
				"defaultValue": "Data Engineer | 2.5+ Years Experience | Immediate Joiner"
			},
			"Body": {
				"type": "string",
				"defaultValue": "Hello buddy"
			}
		},
		"annotations": []
	}
}